<div class="main-content">
    <div class="page-inner">
    <div class="" *ngIf="selectedView && !loader?.table">
        <esop-ag-grid-table [agGridOptions]="agGridOptions" [clickableColumns]="agGridOptions?.clickableColumns || []" (aggridEmitter)="aggridEmitter($event)"  ></esop-ag-grid-table>
    </div>
    <ng-container *ngIf="loader?.table">
        <div>
            <div id="loader-wrapper-submaincontent">
                <div class="lds-ring">
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                </div>
            </div>
        </div>
    </ng-container>
    </div>
</div>

<button type="button" class="btn btn-primary" hidden data-toggle="modal" data-target="#userRolesModal" id="user-roles_id"
    data-backdrop="static" data-keyboard="false"></button>
<!-- <button type="button" class="btn btn-primary" hidden data-toggle="modal" data-target="#usersModal" id="users_id"
    data-backdrop="static" data-keyboard="false"></button>

<div class="modal fade" id="usersModal" tabindex="-1" role="dialog" aria-labelledby="usersModalTitle"
  aria-hidden="true">
  <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">{{(meta?.id ? 'Edit ' : 'Add ') + userLabels?.[selectedView]?.messageLabel}}</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" id="close_users_id" (click)="closeUserConf()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body" style="overflow-y: auto;">
        <div class="row m-0" *ngIf="meta?.type">
          <ng-container *ngIf="selectedView === 'users'">
            <wt-config-user class="pl-0" [pageconf]="meta" (userEmitter)="userConfEmitter($event)"></wt-config-user>
          </ng-container>
        </div>
      </div>
    </div>
  </div>
</div> -->

<!-- User Role Modal -->
<div class="modal right fade" id="userRolesModal" tabindex="-1" role="dialog" aria-labelledby="userRolesModalTitle"
  aria-hidden="true">
  <div class="modal-dialog modal-min-width-slider min_w_75" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">{{(meta?.id ? 'Edit ' : 'Add ') + userLabels?.[selectedView]?.messageLabel}}</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" id="close_user-roles_id" (click)="closeUserConf()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body" style="overflow-y: auto;">
        <div class="row m-0" *ngIf="meta?.type">
          <ng-container *ngIf="selectedView === 'user-roles'">
            <esop-config-user-role class="pl-0" [pageconf]="meta" (userRoleEmitter)="userConfEmitter($event)"></esop-config-user-role>
          </ng-container>
        </div>
      </div>
    </div>
  </div>
</div>